* {
  box-sizing: border-box;
}

*:first-child {
  margin-top: 0;
}

*:last-child {
  margin-bottom: 0;
}

html,
body {
  min-width: var(--min-page-width);
  color-scheme: var(--color-scheme);
  accent-color: var(--color-accent);
  font-family: 'Roboto Mono', monospace;
  font-size: var(--base-font-size);
  margin: 0;
  padding: 0;
  height: 100%;
  color: var(--color-text2);
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--color-surface1);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-text1);
}

header,
main {
  position: relative;
}

header {
  background: var(--color-surface4);
}

main {
  flex: 1;
  background: var(--color-surface1);
}

header > .content,
main > .content {
  max-width: var(--max-page-width);
  height: 100%;
  margin: 0 auto;
  padding: var(--gap-large) var(--gap-xlarge);
}

header > .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section + section {
  margin-top: var(--gap-xlarge);
}

.avatar {
  max-width: 150px;
  border-radius: 50%;
}

.button {
  text-decoration: none;
  padding: var(--gap-small) var(--gap-normal);
  color: var(--color-text1);
  background: var(--color-surface4);
  border: 1px solid var(--color-border1);
  border-radius: var(--border-radius);
}

.button:hover {
  cursor: pointer;
  background: var(--color-surface3);
}

.tag-list {
  max-width: calc(var(--max-page-width) / 2);
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-small);
  justify-content: center;
}
