:root {
  --min-page-width: 500px;
  --max-page-width: 1000px;
  
  --gap-small: 6px;
  --gap-normal: calc(var(--gap-small) * 2);
  --gap-large: calc(var(--gap-normal) * 2);
  --gap-xlarge: calc(var(--gap-large) * 2);

  --border-radius: 0.5rem;

  --base-font-size: 120%;
  --font-size: 1rem;
  --font-size-large: 1.4rem;
  --font-size-larger: 1.2rem;
  --font-size-smaller: 0.9rem;
  --font-size-small: 0.8rem;

  --color-hue: 230;
  --color-saturation: 80%;
  --color-lightness: 50%;
  --color-darkness: 50%;

  --color-light: hsl(var(--color-hue), var(--color-saturation), var(--color-lightness));
  --color-text1-light: hsl(var(--color-hue), var(--color-saturation), 10%);
  --color-text2-light: hsl(var(--color-hue), 30%, 30%);
  --color-surface1-light: hsl(var(--color-hue), 25%, 90%);
  --color-surface2-light: hsl(var(--color-hue), 20%, 99%);
  --color-surface3-light: hsl(var(--color-hue), 15%, 92%);
  --color-surface4-light: hsl(var(--color-hue), 10%, 85%);
  --color-border1-light: var(--color-surface1-light);
  --color-border2-light: var(--color-surface2-light);
  --shadow-surface-light: var(--color-hue), 10%, 20%;
  --shadow-strength-light: 0.2;

  --color-dark: hsl(var(--color-hue),
    calc(var(--color-saturation) / 2),
    calc(var(--color-darkness) / 1.5)
  );
  --color-text1-dark: hsl(var(--color-hue), 15%, 85%);
  --color-text2-dark: hsl(var(--color-hue), 5%, 65%);
  --color-surface1-dark: hsl(var(--color-hue), 10%, 10%);
  --color-surface2-dark: hsl(var(--color-hue), 10%, 15%);
  --color-surface3-dark: hsl(var(--color-hue), 5%, 20%);
  --color-surface4-dark: hsl(var(--color-hue), 5%, 25%);
  --color-border1-dark: var(--color-surface1-dark);
  --color-border2-dark: var(--color-surface2-dark);
  --shadow-surface-dark: var(--color-hue), 50%, 3%;
  --shadow-strength-dark: 0.8;

  --color-dim: hsl(
    var(--color-hue)
    calc(var(--color-saturation) / 1.25)
    calc(var(--color-lightness) / 1.25)
  );
  --color-text1-dim: hsl(var(--color-hue) 15% 75%);
  --color-text2-dim: hsl(var(--color-hue) 10% 61%);
  --color-surface1-dim: hsl(var(--color-hue) 10% 20%);
  --color-surface2-dim: hsl(var(--color-hue) 10% 25%);
  --color-surface3-dim: hsl(var(--color-hue) 5%  30%);
  --color-surface4-dim: hsl(var(--color-hue) 5% 35%);
  --color-border1-dim: var(--color-text1-dim);
  --color-border2-dim: var(--color-text2-dim);
  --shadow-surface-dim: var(--color-hue) 30% 13%;
  --shadow-strength-dim: .2;
  
  --color-scheme: light;
  --color-primary: var(--color-light);
  --color-accent: var(--color-text1-light);
  --color-text1: var(--color-text1-light);
  --color-text2: var(--color-text2-light);
  --color-surface1: var(--color-surface1-light);
  --color-surface2: var(--color-surface2-light);
  --color-surface3: var(--color-surface3-light);
  --color-surface4: var(--color-surface4-light);
  --color-border1: var(--color-border1-light);
  --color-border2: var(--color-border2-light);
  --shadow-surface: var(--shadow-surface-light);
  --shadow-strength: var(--shadow-strength-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-scheme: dark;
    --color-primary: var(--color-dark);
    --color-accent: var(--color-text1-dark);
    --color-text1: var(--color-text1-dark);
    --color-text2: var(--color-text2-dark);
    --color-surface1: var(--color-surface1-dark);
    --color-surface2: var(--color-surface2-dark);
    --color-surface3: var(--color-surface3-dark);
    --color-surface4: var(--color-surface4-dark);
    --color-border1: var(--color-border1-dark);
    --color-border2: var(--color-border2-dark);
    --shadow-surface: var(--shadow-surface-dark);
    --shadow-strength: var(--shadow-strength-dark);
  }
}
